$cssCore    : false;
$cssHelpers : true;
$devMode    : false;

$darkblue :  #0C3E7D;
$blue :  #1879AC;
$darkgrey : #444444;
$grey : #F4F4F4;
$orange : #DF6800;
$yellow : #F8BA11;

@import "../../node_modules/ed-grid/ed-grid.scss"
