<!--<form #formHotel="ngForm" (ngSubmit)="onSubmit(); formHotel.reset();">
  <input type="text" name="nameHotel" [(ngModel)]="nameHotel">
  <input type="submit" value="Guardar">
</form>

<h3>Listado de hoteles</h3>
-->
<section>
  <div class="ed-container">
    <div class="ed-item m-30 l-25">
      <div class="filters filters-header">
        <div class="">
          <strong>Filtros</strong>
          <span class="to-m">
            <div (click)="filters()" *ngIf="activateFilters == true" class="icon icon-arrow-up to-right"></div>
            <div (click)="filters()" *ngIf="activateFilters == false" class="icon icon-arrow-down to-right"></div>
          </span>
        </div>

      </div>
      <div *ngIf="activateFilters == true" class="filters filters-search">
          <div>
            <div class="icon icon-search"></div>
            <label>Nombre de hotel</label>

            <div (click)="filterName()" *ngIf="activateFilterName == true" class="icon icon-arrow-up to-right"></div>
            <div (click)="filterName()" *ngIf="activateFilterName == false" class="icon icon-arrow-down to-right"></div>
          </div>
          <div *ngIf="activateFilterName == true">
            <form #formHotel="ngForm" (ngSubmit)="onSubmit();" autocomplete="off">
              <input type="text" id="nameHotel" name="nameHotel"  placeholder="Ingrese el nombre del hotel" [(ngModel)]="nameHotel" required>
              <input type="submit" name="button" value="Aceptar">
            </form>

          </div>


      </div>
      <div *ngIf="activateFilters == true" class="filters filters-starts">
        <div>
          <div class="icon icon-star"></div>
          <label>Estrellas</label>
          <div (click)="filterStars()" *ngIf="activateFilterStar == true" class="icon icon-arrow-up to-right"></div>
          <div (click)="filterStars()" *ngIf="activateFilterStar == false" class="icon icon-arrow-down to-right"></div>
        </div>
        <div *ngIf="activateFilterStar == true" class="check-starts">
          <div class="check-starts check-starts-all">
               <input type="checkbox" [(ngModel)]="selectedAllStar" (change)="selectedAllStar();"/>
               <strong>Todas las estrellas</strong>
          </div>
          <div *ngFor="let star of starsCheck" class="check-starts check-starts-one">
            <input type="checkbox" [(ngModel)]="star.selected" (change)="checkIfSelected();">
            <span *ngFor="let j of getStars(star.quantity)"  class="icon icon-yellow icon-star"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="ed-item m-70 l-75">
      <div class="ed-container no-padding">
        <div class="ed-container card-content no-padding" *ngFor="let hotel of hotels">
          <div class="ed-item m-100 l-30 card-img">
            <img src="assets/images/hotels/{{hotel.image}}">
          </div>
          <div class="ed-item m-45 l-40 card-info">
            <strong>{{hotel.name}}</strong>
            <div class="">
              <div *ngFor="let i of getStars(hotel.stars)" class="icon icon-yellow icon-star card-star"></div>
            </div>
            <div class="">
              <!--<img *ngFor="let amenity of hotel.amenities" src="assets/icons/amenities/{{amenity}}.svg" class="card-amenity">-->
              <div *ngFor="let amenity of hotel.amenities"  [ngClass]="amenity" class="card-amenity">

              </div>
            </div>

          </div>
          <div class="ed-item m-45 l-25 card-price">
            <span>Precio por noche por habitacion</span>
            <p>
              <label>ARS</label>
              <strong>{{hotel.price}}</strong>
            </p>
            <input type="submit" name="" value="Ver hotel">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
