// Valores en config.scss
// Definalos en true o false (sin escribir !default) antes de importar ed-grid
$cssCore    : false;  // como trabajaré en Sass no quiero que compile tooodo el CSS
$cssHelpers : true;  // recomendamos activar las ayudas
$devMode    : false; // cuando quiera activar el modo dev, basta poner esta variable en true

//Paleta de colores
$darkblue :  #0C3E7D;
$blue :  #1879AC;
$darkgrey : #444444;
$grey : #F4F4F4;
$orange : #DF6800;
$yellow : #F8BA11;

@import "../node_modules/ed-grid/ed-grid.scss" // Importamos ed-grid luego de redefinir las variables
